<h2>Payment successful!</h2>

<p>Thanks for shopping with Soilmates!</p>

<p>
    <%= link_to "Continue shopping", products_path %>
</p>

<p>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
</p>